/.metadata/
/SpringTutorialPractice/src/main/resources/applicationContext.xml
/SpringTutorialPractice/target/classes/applicationContext.xml
/SpringTutorial/src/main/resources/applicationContext.xml
/SpringTutorial/target/classes/applicationContext.xml
/RemoteSystemsTempFiles
/.recommenders
